.videos{

    padding: 3rem 0;

    &__titulo{
        font-size: 1.5rem;
        font-weight: $font-light;
        margin-bottom: 2rem;


        @media (max-width: 768px){
            text-align: center;;
        }
    }

    &__card{
        margin-bottom: 2rem;
    }

    &__image {

        height: 160px;
        overflow: hidden;

        margin-bottom: 1rem;

        @media (max-width: 576px){
            height: 220px;
        }

        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__textos{
        & h3{
            font-size: 1rem;
            font-weight: $font-bold;
        }
        & p{
            font-size: $small;
            color: $light-grey;
        }
    }

    @media (max-width: 992px){
        padding: 2rem 1rem;
    }

}



.banner{
    width: 100%;
    height: 200px;
    background-image: url('/assets/img/image-banner.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 768px) {
        height: 100px;
    }
}